/ {
    behaviors {
        cmd_layer: cmd_layer {
            compatible = "zmk,behavior-mod-morph";
            label = "CMD_LAYER";
            #binding-cells = <0>;
            mods = <(MOD_LGUI)>; // Explicitly required mods property
            bindings = <&mo 0>;  // The key or layer change action
        };
    };

        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        tdtb: td_mouse_scroll {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&httl 9 7>, <&to 0>;
            tapping-term-ms = <200>;
        };

        tdtb2: td_slow_scroll {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&httl 9 0>, <&to 8>;
        };

        httl: ht_two_layers {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };

        td_bore: BASE_or_EXTRA {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mo 6>, <&to 0>;
        };

        comment_or: comment_or {
            compatible = "zmk,behavior-hold-tap";
            label = "slash_or_comm";
            bindings = <&comment>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        ru_sh_or_shch: ru_sh_or_shch {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_SH_OR_SHCH";
            bindings = <&ru_shch>, <&ru_sh>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        ru_b_or: ru_b_or {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_B_OR_COMA";
            bindings = <&kp>, <&ru_b>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        ru_yu_or: ru_yu_or {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_YU_OR_DOT";
            bindings = <&kp>, <&ru_yu>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        ru_kh_or_e: ru_kh_or_e {
            compatible = "zmk,behavior-hold-tap";
            label = "RU_KH_OR_E";
            bindings = <&ru_e>, <&ru_kh>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };

        all_quotes: all_quotes {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mt GRAVE SQT>, <&kp DOUBLE_QUOTES>;
        };

        space_or_super: space_or_super {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <250>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            bindings = <&super>, <&kp>;
        };
    };
};