/ {
    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <RM1 RM2>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
        };

        opt_backspace {
            bindings = <&kp LA(BACKSPACE)>;
            key-positions = <RM1 RM2 RM3>;
            timeout-ms = <70>;
            require-prior-idle-ms = <100>;
        };

        shift {
            bindings = <&sk LEFT_SHIFT>;
            key-positions = <LM2 LM1>;
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
        };

        caps_lock {
            bindings = <&caps_word>;
            key-positions = <LM3 LM2 LM1>;
            timeout-ms = <100>;
            require-prior-idle-ms = <150>;
        };

        combo_to_rus {
            bindings = <&to_russian>;
            key-positions = <RT3 RT4>;
            timeout-ms = <250>;
            require-prior-idle-ms = <200>;
        };

        combo_to_eng {
            bindings = <&to_eng>;
            key-positions = <LT4 LT3>;
            timeout-ms = <250>;
            require-prior-idle-ms = <200>;
        };

        combo_to_game {
            bindings = <&to GAME>;
            key-positions = <LT5 LB5>;
            timeout-ms = <250>;
            require-prior-idle-ms = <200>;
        };

    };
};